*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  
  a, a:visited, a:link {
    color: #eee;
    text-decoration: none;
  }
  
  body {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    background: #9f7604;
    overflow-x: hidden;
  }
  
  .header__h2 {
    font-family: "Great Vibes", cursive;
    font-size: 300%;
    color: hwb(0 93% 7%);
  }
  
  .header {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .header__figure {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(93, 70, 0, 0.6), 80%, rgba(174, 210, 255, 0.6)), url("../img/header.webp");
    background-position: bottom;
    background-size: cover;
    object-fit: contain;
  }
  
  .header > figure > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: #eee;
  }
  
  .header__h1 {
    font-family: "Great Vibes", cursive;
    font-size: 270%;
  }

  .curve{
    position: absolute;
    height: 22.5rem;
    width: 105%;
    bottom: 0;
  }
  
  .curve::before{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    height: 100%;
    background: #684f08;
    transform: translate(80%, 60%);
  }
  
  .curve::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background: #684f08;
    transform: translate(-5%, 60%);
    z-index: 2;
  }

  /*----------- Scroll------------ */

  .scroll-arrow {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 20;
}

.scroll-arrow span {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(15px);
    }
    60% {
        transform: translateY(10px);
    }
}

.hide-arrow {
    opacity: 0;
}

/*========================================About========================================*/
#about{
  background: #684f08;
  padding-bottom: 17rem;
}

.about {
  max-width: 1470px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-right: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.image-about {
  flex-basis: 50%;
  z-index: 4;
}

.image-about img {
  height: auto;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  border-radius: 1.5rem;
}

.content-about {
  flex-basis: 50%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
}

.content-about > h1{
  Font-family: "Great Vibes", cursive;
  margin-top: 3%;
  z-index: 3;
}

.content-about > h1, p {
  text-align: center;
  font-size: 300%;
}
.content-about > p{
  font-size: 100%;
  z-index: 1;
}

.sub-images-about {
  margin-top: 8rem;
  display: flex;
}

.sub-images-about img {
  max-width: 25%;
  height: 20rem;
  margin-right: 1rem;
  border-radius: 1.5rem;
}

.curveabout{
  padding-top: 10rem;
  position: absolute;
  height: 22.5rem;
  width: 100%;
  bottom: 0;
}

.curveabout::before{
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 65%;
  height: 100%;
  background: #9f7604;
  transform: translate(63%, 443%);
}

.curveabout::after{
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 64.7%;
  height: 100%;
  background: #684f08;
  transform: translate(-25%, 424%);
  z-index: 2;
}

/*========================================Tips========================================*/

/*========================================About 2========================================*/

.about2 {
  max-width: 1470px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15rem;
}

.content-about2 {
  flex: 1;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.image-about2 {
  flex-basis: 50%;
}

.image-about2 img {
  width: 100%;
  height: auto;
  height: 80%;
  border-radius: 1.5rem;
}

.content-about2 > h1{
  Font-family: "Great Vibes", cursive;
  text-align: center;
  margin-top: 1%;
}

.content-about2 > h1, p{
  text-align: center;
  font-size: 300%;
}

.content-about2 > p{
  margin-top: 1rem;
  font-size: 100%;
}

/*========================================Reviews========================================*/

.section--third{
  background: hsl(44, 95%, 27%);
  display: flex;
  height: auto;
  padding: 4rem;
  align-items: center;
}

.arrow{
  width: 5%;
  background: hsl(44, 95%, 27%);
  color: rgb(0, 0, 0);
  font-size: 500%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow:hover{
  cursor: pointer;
}

.reviews{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
}

.review{
  width: 40rem;
  min-height: 60rem;
  background: darkred;
  list-style: none;
  padding: 4rem;
  border-radius: 0.5rem;
  background: #684b02ac;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
  inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
  display: none;
}

.persoon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.persoon img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.review p{
  margin-top: 2rem;
  font-size: 100%;
  padding-bottom: 2rem;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.2);
}


/*========================================Responsive========================================*/

/*responsive*/
@media(max-width: 1200px) {
  .body{
    overflow-x: hidden;
  }
  .about {
    padding-right: 0rem;
  }
  .showcase-container p {
      font-size: 2.2rem;
      padding: 0.7rem 0;
      margin-right: 20rem;
  }    
  .image-about {
      flex-basis: 50%;
  }
  .curveabout::before{
    transform: translate(61%, 580%);
    z-index: 5;
  }
  .curveabout::after{
    background: #684f08;
    transform: translate(-25%, 555%);
  }
  .image-about {
    flex-basis: 50%;
    z-index: 4;
  }
  .image-about img {
      height: auto;
      width: 150%;
      height: 100%;
      margin-top: 1rem;
      border-radius: 1.5rem;
  }
  .content-about {
      flex-basis: 100%;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 3rem;
  }
}


@media(max-width: 767px) {
  .body{
    overflow-x: hidden;
  }
  .showcase-container p {
      font-size: 2.2rem;
      padding: 0.7rem 0;
      margin-right: 20rem;
  }    
  .image-about {
      flex-basis: 50%;
  }
  
  .image-about img {
      height: auto;
      width: 200%;
      height: 90%;
      margin-top: 1rem;
      border-radius: 1.5rem;
  }
  
  .content-about {
      flex-basis: 100%;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 3rem;
  }
}


@media(max-width: 574px){
  .sub-images-about img {
      max-width: 22%;
  }
  .about{
      padding-right: 0rem;
  }
  .left-content + .right-content {
      margin-left: 0rem;
  }
  .left-content{
      flex-basis: 80%;
  }
  .right-content{
      flex-basis: 80%;
  }
  .footer-col{
    width: 100%;
  }
  .tips {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
  }
}